<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EDairy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC5531AF1F0639B4003EBF4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5531C31F0639B5003EBF4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC5531CE1F0639B5003EBF4A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
